body {
  font-family: Georgia,Arial;
  font-style: italic;
  background-color: transparent;
  background-image: url('/images/body_bg.png');
  background-repeat: repeat;
}
footer {width: auto;}
a {text-decoration: none}
/*#footer*/
footer div {
  padding: 10px 25px;
  height:100px;
  background-color: transparent;
  background-image:url('/images/footer_bg.png');
  background-repeat: repeat-x;
  font-family: Georgia,Arial;
  font-size: 11px;
  color: #FFFFFF;
  font-weight: bold;
}
#page {min-height: 700px;}
/*Header*/
header { padding-top: 50px; padding-bottom: 15px;}
header table {margin: 0px 40px;}
.phone {
  font-size: 32px;
  font-weight: bold;
}
/*#Menu*/
#menu {
  margin-left: 40px;
}
#menu ul {
  list-style: none;
  padding: 0px;
}
#menu ul li {
  margin-left: 1px;
  float: left;
}
#menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #0080FF;
  font-family: Georgia,Arial;
}
#menu ul li.selected a, #menu ul li a:hover {
/*  background: #CCC;*/
}
.menu li {
    margin: 0 7px 0 0;
}
/*#Varios*/
.left {float:left;}
.right {float:right;}
.bold {font-weight: bold;}

hr {
  background-color: #D4D4D4;
  border: 0 none;
  clear: both;
  color: #D4D4D4;
  height: 2px;
}
a {color: #006ba8}

.about td {padding-left: 35px; vertical-align: top}
.about td p {font-size: 13px}
.about td h1 {font-size: 36px}

.home {padding: 0px 35px;}
.home .blocks div {padding: 20px 0px}
.home .blocks h1, .caption, .caption a {
  font-family: Georgia,Arial;
  font-style:	italic;
  font-size: 24px;
  color: #ED621F;
  font-weight: bold;
}
.home .blocks hr {
  color: #D8D8D8
}
.home .jcarousel-skin-tango .jcarousel-prev-horizontal{
  background: url("/images/roller_left_arrow.png") no-repeat scroll 0 0 transparent
}
.home .jcarousel-container .jcarousel-next-horizontal a{
  background: url("/images/roller_right_arrow.png") no-repeat scroll 0 0 transparent
}
.home #prevBtn {
  left: 0px;
}
.target table {width: 100%}
.target table td {
  text-align: center;
  padding: 10px;
}
.target table td p {font-size: 14px; }
.target #body_content{ padding: 0px 35px;}
.target #body_content_left {
  width: 250px;
}
.target #body_content_right {
  width: 600px;
  padding: 10px 30px 10px 10px;
}
.target #body_content_left p {
  font-size: 12px;
  margin: 3px 0px;
}
.target #body_content_left h1 {
  font-size: 16px;
  margin: 5px 0px;
}
.target .news_tool {
  width: 313px;
  height: 435px;
/*  position: absolute;*/
/*  z-index: 99999;*/
  background: url("/images/tooltip.png") no-repeat scroll 10px 0 transparent;
}
.target .news_tool_shadow {
  width: 333px;
  height: 470px;
 /* position: absolute;
  z-index: 1;*/
  background: url("/images/tooltip_shadow.png") no-repeat scroll -46px 0 transparent;
}
.one{background-color: red;}
.two{background-color: red;}
.three{background-color: red;}
.four{background-color: red;}
.five{background-color: red;}

#progressbar #progressEvent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99999;
  text-align: center;
  height: 17px;
}
#progressbar #progressEvent h1{
  font-size: 14px;
  color: #FDAA32
}
#progressbar #progressEvent p {
  font-size: 12px;
  color: #000000;
  font-weight: normal;
}
#progressbar #progressEvent div{
  float: left;
  text-align: left;
}
#progressbar #progressEvent .progress_event{
  height: 17px;
}
.grey {color: #5C5D5F;}
.left-side { width: 350px; }
.progress{ width: 100%;}
.progress table{ padding: 0px 35px;}
.progress table td{ padding: 0px;}
#progressbar {
  height: 17px;
  position: relative;
  background: url("/images/scroll_grey.png") repeat-x scroll 50% top #EEEEEE;
}
#progressbar #progresstext {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

#progressbar p{
  margin: 0px;
  color: #FFFFFF;
}
#progressbar .ui-widget-header{
  background: url("/images/scroll_orange.png") repeat-x scroll 50% 50% #F6A828;
}
#floors{
  margin-left: -35px;
  margin-top: 100px;
  padding-left: 0px;
}
#floors li {
  background: url("/images/floor.png") no-repeat scroll 0 0 transparent;
  list-style: none outside none;
  padding-left: 10px;
}
#floors li.active {
  background: url("/images/floor_active.png") no-repeat scroll 0 0 transparent;
}
#floors li.active a {
  color: #FFF;
}
#floors li h1 {
  margin: 2px;
}
#floors div {
  background: url("/images/floor_shadow.png") no-repeat scroll -50px 0 transparent;
  height: 10px;
  width: 143px;
  margin-top: -10px;
}
.target #mycarousel li { background-color: #2F2F2F;}
.target #mycarousel li img { padding: 4px; }
#news_tool {text-align: left;}
#news_tool p{margin: 0;}
#news_tool h1{font-size: 16px;}


.flats #body_content_left{
  width: 300px;
}
.flats #body_content_right{
  width: 700px;
}

.events #body_content_left{
  width: 300px;
}
.events #body_content_right{
  width: 700px;
}
.events ul { list-style-type: none; }
.events ul {padding-left: 0px}

