<div class="footer">
  <p class="left">
    2011 - <%= RefinerySetting.find_or_set(:site_name, "ГАРАНТИНВЕСТ") %></br>
  </p>
  <p class="right">
    г. Севастополь, ул Мира, 1</br>
    Телефон: + 38(0692)45-11-11</br>
    Почта: inbox@garantinvest.ru
  </p>
</div>

