<table>
  <tr>
    <td>
      <a href="/"><image src="/images/top_logo.png" alt="<%= RefinerySetting.find_or_set(:site_name, 'ГАРАНТИНВЕСТ') %>"/></a>
    </td>
    <td valign="bottom">
      <%= render(:partial => "/shared/menu", :locals => {
                   :dom_id => 'menu',
                   :css => 'menu'
                 }) %>
    </td>
    <td valign="top">
      <span class="phone grey">
        <span class='left'>+</span>
        <span class='left' style='padding-top: 4px;'>3</span>
        <span class='left' style='padding-top: -2px'>8</span>
        <span class='left' style='padding-top: -2px'>(</span>
        <span class='left' style='padding-top: 2px; font-size: 28px;'>0</span>
        <span class='left' style='padding-top: -2px'>6</span>
        <span class='left' style='padding-top: -2px'>9</span>
        <span class='left' style='padding-top: 2px; font-size: 28px;'>2</span>
        <span class='left' style='padding-top: -2px'>)</span>
        <span class='left' style='padding-top: -2px'>45</span>
        <span class='left' style='font-size: 26px;  padding-top: -4px'>-11-11</span>
    </td>
  </tr>
</table>

