<script type="text/javascript" src="/javascripts/jcarousel/lib/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/jcarousel/lib/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/javascripts/jcarousel/lib/jquery.jcarousel.min.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/jcarousel/skins/tango/skin.css" />

<% render :partial => "/shared/content_page" %>
<div class="home">

  <div style="heigth: 500px; width: 100%; position: relative;">
    <div>
      <ul id="mycarousel" class="jcarousel-skin-tango" style="heigth: 500px;">
        <li>
          <img src="/images/building1.png" alt="" />
          <h1>Жилой комплекс «Вершина успеха»</h1>
          <a href="#">г.Севастополь, ул. Ерошенко 9</a>
        </li>
        <li>
          <img src="/images/building2.png" alt="" />
          <h1>Жилой комплекс «Мария»</h1>
          <a href="#">г.Севастополь, ул. Ерошенко 9</a>
        </li>
        <li>
          <img src="/images/building3.png" alt="" />
          <h1>Жилой дом «Толстого, 16»</h1>
          <a href="#">г. Севастополь, ул. Льва Толстого, 16</a>
        </li>
        <li>
          <img src="/images/building1.png" alt="" />
          <h1>Жилой комплекс «Вершина успеха»</h1>
          <a href="#">г.Севастополь, ул. Ерошенко 9</a>
        </li>
        <li>
          <img src="/images/building3.png" alt="" />
          <h1>Жилой комплекс «Мария»</h1>
          <a href="#">г.Севастополь, ул. Ерошенко 9</a>
        </li>
        <li>
          <img src="/images/building2.png" alt="" />
          <h1>Жилой дом «Толстого, 16»</h1>
          <a href="#">г. Севастополь, ул. Льва Толстого, 16</a>
        </li>
      </ul>
    </div>
  </div>

  <hr/ style="clear:both">
  <div class="blocks">
    <div class="left" style="width:30%; text-align: left;">
      <h1>Недвижимость Крыма</h1>
    </div>
    <div class="left" style="width:60%;">
      Рынок недвижимости Крымского полуострова, на котором уже много лет успешно конкурирует «Интерстрой», имеет свою специфику по сравнению с другими регионами Украины.

В первую очередь, это международный центр отдыха и рекреации, поэтому наибольший интерес для застройщиков имеет Южный берег. Здесь возводится жилье элитного класса, рассчитанное на самых взыскательных клиентов. Гостиницы, пансионаты, виллы и  апартаменты эксплуатируются, как правило, только в летний период. Поэтому данный вид недвижимости можно охарактеризовать как наиболее престижный, дорогостоящий и имеющий узкоцелевую направленность.
    </div>
  </div>

  <hr/ style="clear:both">

  <div class="blocks">
    <div class="left" style="width:30%; text-align: left;">
      <h1>О выгоде инвестирования в новостройки</h1>
    </div>
    <div class="left" style="width:60%;">
Покупка недвижимости – это долгосрочная и надежная инвестиция капитала. Приобретение квартиры в новом доме принесёт ощутимую отдачу не только в краткосрочной перспективе (вложенные вами средства будут защищены от инфляции), но и сможет также приносить стабильный доход нескольким поколениям вашей семьи (если вы в будущем намереваетесь сдавать свою недвижимость в аренду).

Главное, на что обращают внимание покупатели при выборе жилья, – комфорт, безопасность и долговечность. Эти ценности являются основополагающими в работе компании «Интерстрой», отзывы клиентов на форумах и в блогах являются тому подтверждением..
    </div>
  </div>

</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery('#mycarousel').jcarousel({
          auto: 2,
          wrap: 'circular',//last
          animation: 4000
      });
  });
</script>

